{% extends 'layouts.html' %}
{% block content %}

<div style="margin-top:15%">
<p style="color: grey;">Class start time: {{ start_time }}</p>



<table style="width:100%;">
    <tr style="margin-top: 50px">
        <td>
            <form action="/" method="POST">
                <label for="std_id">Student ID:</label>
                <input type="text" id="std_id" name="std_id" autofocus>
                <input type="submit" name="submit" value="Submit">
            </form>
            <br><br><br>
            <span><img src="../static/info.png" width="7%" alt="info_pic"></span>
            <span><b>Tap or Scan Student ID Card</b></span>
        </td>
        {% if entry_record %}
        <td>
            <span>{% if entry_record.get('status')=='On Time' %}
                <img src="../static/tick.png" width="10%" alt="tick_pic">
            {% elif entry_record.get('status')=='Too Early' or entry_record.get('status')=='Late' %}
                <img src="../static/alert.png" width="10%" alt="alert_pic">
            {% else %}
                <img src="../static/cross.png" width="10%" alt="cross_pic">
            {% endif %}</span>
            <span><b style="margin-left: 10px;">{{ entry_record.get('status') }}</b></span>
            <br><br>
            <p>{{ entry_record.get('student_id') }} - {{ entry_record.get('name') }}</p>
            <p>Entry time: {{ entry_record.get('entry_time') }}</p>
        </td>
        {% endif %}
    </tr>
</table>
</div>

{% endblock content%}